/* GENERAL SETTINGS */

body {
    font-family: sans-serif;
    background:rgb(26, 29, 41);
}

/* HEADER */
/* NAVBAR */

.navbar {
    background: #151721;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .6);
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    color: #fff;
}

/* NAVBAR RIGHT */

.nav-right {
    width: 250px;
}

.search {
    position: relative;
}

/* SEARCH INPUT */

.navbar .nav-right input {
    width: 100%;
    color: #fff;
    font-size: 14px;
    box-shadow: 0px 0px 10px -5px rgba(255, 255, 255, .5);
    border-radius: 20px;
    transition: box-shadow 350ms;
}

.navbar .nav-right input:hover {
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, .5);
}

/* ADD ANIMATED ICON BUTTON */

.search button {
    position: absolute;
    top: -2px;
    right: 0;
    width: 15%;
    height: 100%;
    background: none;
    cursor: pointer;
}

.search button::after {
    position: absolute;
    top: 50%;
    right: 10px;
    color: #fff;
    transform: translateY( -50% ) rotate(-90deg);
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    content: "\f061";
    font-size: 16px;
    opacity: 0 ;
    transition: opacity .3s,
                transform .2s linear;
}

.search input:focus + button::after {
    opacity: 1;
    transform:translateY( -50% ) rotate(0);
}

 .search button::before {
    position: absolute;
    top: 50%;
    right: 10px;
    color: #fff;
    transform: translateY( -50% );
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    content: "\f002";
    font-size: 16px;
    opacity: 1;
    transition: opacity .3s,
                transform .2s linear;
}

.search input:focus + button::before {
    opacity: 0;
    transform: translateY( -50% ) rotate(90deg)
}

/* SMARTPHONE UP TO 768px */

@media screen and ( max-width: 768px ) {

    .nav-right,
    .search,
    .search input {
        width: 100%;    
    }

}