/* RESET  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL SETTINGS */

body {
    padding-top: 85px;
}
  
/* HEADER */
/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    line-height: 80px;
    padding: 0 50px;
}
  
.navbar[class*='fx'] {
    position: fixed;
    z-index: 10;
}
  
.navbar.fx-top {
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
}

.nav-left {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.navbar img {
    height: 60px;
    margin-right: 30px;
}

.navbar a {
    text-decoration: none;
    font-size: 24px;    
}

/* LISTS */

.list-item {
    margin: 0 10px;
    display: inline-block;
}

/* DROPDOWN */

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 80px;
    padding: 20px 40px;
    background: #151721;
}

.dropdown-menu.visible {
    display: block;
}

.dropdown-list {
    list-style: none;
}

.dropdown-item {
    padding: 0px;
    line-height: 40px;
}

.dropdown-item a {
    color: #fff ;
    font-size: 22px;
}

/* TYPOGRAPHY */

a {
    text-decoration: none;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 12px;
}
  
/* RESET INPUT & CTA */

input,
button {
    background: none;
    border: none;
    outline: none;
    padding: 10px;
}

/* MARGINGS */

.mt-50 {
    margin-top: 50px;
}

/* MEDIA QUERY */
/* MEDIA QUERYS UTILITIEs */


.desktop-only {
    display: inline-flex;
}

.mobile-only {
    display: none;
}

li.mobile-only {
    display: none;
}

/* TABLET UP TO 1024px */

@media screen and ( max-width: 1024px ) {

    /* NAVBAR */
    .navbar {   
        padding: 0 20px;
    }

    /* MEDIA QUERYS UTILITIES */
    
    .desktop-only {
        display: none;
    }
    
    .mobile-only {
        display: inline-flex;
    }

    li.mobile-only {
        display: inline-flex;
    }

}

/* SMARTPHONE UP TO 768px */

@media screen and ( max-width: 768px ) {

    /* GENERAL SETTINGS */

    body {
        padding-top: 170px;
    }

    /* NAVBAR */

    .navbar.fx-top {
        display: flex;
        top: 0;
        flex-wrap: wrap;
        right: auto;
        bottom: auto;
        left: 0;
    }

    .nav-left,
    .nav-right {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    /* DROPDOWN */

    .dropdown-menu {
        z-index: 1;
    }

    /* MEDIA QUERYS UTILITIES */
    
    .desktop-only {
        display: none;
    }
    
    .mobile-only {
        display: inline-flex;
    }

    li.mobile-only {
        display: inline-flex;
    }

}