<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoolFlix</title>
    <!-- ICON -->
    <link rel="icon" href="">
    <!-- FONT -->

    <!-- FONTAWESOME -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css'/>
    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- VUE, DEV. script -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- VUE, PRODUCTION script -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script> -->
</head>
<body>

    <!-- APP -->
    <div id="boolFlix">
        <!-- MAIN HEADER -->
        <header class="main-header">
            <!-- SEARCH BAR -->
            <div class="search">
                <span>Select your language </span>
                <select v-model="language" @change="filterSearch">
                    <option value="it">IT</option>
                    <option value="en">EN</option>
                    <option value="de">DE</option>
                    <option value="ja">JA</option>
                    <option value="es">ES</option>
                    <option value="ru">RU</option>
                </select>
                <input type="text" 
                    placeholder="Search"
                    v-model="search"
                    @keyup.enter="filterSearchDone"
                    >
                <button @click="filterSearchDone"><i class="fas fa-arrow-right"></i></button>
                <select v-model="filter" @change="filterSearch">
                    <option value="all">All</option>
                    <option value="movies">Movies</option>
                    <option value="tvs">TV Series</option>
                </select>
            </div>
        </header>
        <!-- MAIN SECTION -->
        <main class="main-section">
            <!-- CONTAINER -->
            <div class="container">
                <ul class="item-list"
                    v-if="loading === true"    
                >
                    <!-- MOVIES -->
                    <li class="item movies"
                        v-show="filter !== 'tvs'"
                        v-for="(movie, index) in movieList"
                        >
                        <ul>
                            <p>film</p>
                            <li class="title"> 
                                <h3>Titolo: {{ movie.title }} </h3> 
                            </li>
                            <li class="original-title">Titolo Originale: {{ movie.original_title }}
                            </li>
                            <li v-if="checkLanguage(index)" class="original-language" > 
                                Lingua originale: 
                                <img :src="`./img/${movie.original_language}.png`" alt="">   
                            </li>
                            <li v-else class="original-language" > 
                                Lingua originale: {{ movie.original_language }}
                            </li>
                            <li class="vote-average">
                                  <i v-for=" vote in getValutation(movie.vote_average) " class="fas fa-star"></i>  
                                  <i v-for=" vote in ( 5 - getValutation(movie.vote_average) ) " class="far fa-star"></i>  
                            </li>
                        </ul>
                    </li>
                    <!-- TV SERIES -->
                    <li class="item tvs"
                        v-show="filter !== 'movies'"
                        v-for="(tv, index) in tvList"
                        >
                        <ul>
                            <p>serie tv</p>
                            <li class="title"> 
                                <h3>Titolo: {{ tv.name }} </h3> 
                            </li>
                            <li class="original-title">Titolo Originale:  {{ tv.name }}  </li>
                            <li v-if="checkLanguage2(index)" class="original-language" > 
                                Lingua originale: 
                                <img :src="`./img/${tv.original_language}.png`" alt="">   
                            </li>
                            <li v-else class="original-language" > 
                                Lingua originale: {{ tv.original_language }}
                            </li>
                            <li class="vote-average">
                                  <i v-for=" vote in getValutation(tv.vote_average) " class="fas fa-star"></i>
                                  <i v-for=" vote in ( 5 - getValutation(tv.vote_average) ) " class="far fa-star"></i>  
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </main>
    </div>

    <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- MAIN SCRIPT -->
    <script src="./js/main.js"></script>
</body>
</html>