<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoolFlix</title>
    <!-- ICON -->
    <link rel="icon" href="">
    <!-- FONT -->

    <!-- FONTAWESOME -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css'/>
    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- VUE, DEV. script -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- VUE, PRODUCTION script -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script> -->
</head>
<body>

    <!-- APP -->
    <div id="boolFlix">
        <!-- MAIN HEADER -->
        <header class="main-header">
            <!-- SEARCH BAR -->
            <div class="search">
                <span>Select your language </span>
                <select v-model="language" @change="filterSearch">
                    <option value="it">IT</option>
                    <option value="en">EN</option>
                    <option value="de">DE</option>
                    <option value="ja">JA</option>
                    <option value="es">ES</option>
                    <option value="da">DA</option>
                    <option value="sv">SV</option>
                </select>
                <input type="text" 
                    placeholder="Search"
                    v-model="search"
                    @keyup="filterSearch"
                    @keyup.enter="filterSearchDone"
                    >
                <button><i class="fas fa-arrow-right" @click="filterSearchDone" ></i></button>
            </div>
        </header>
        <!-- MAIN SECTION -->
        <main class="main-section">
            <!-- CONTAINER -->
            <div class="container">
                <div class="item-list">
                    <!-- MOVIES -->
                    <ul class="item movies"
                        v-for="(movie, i) in movieList"
                        >
                        <p>film</p>
                        <li class="title"> <h3>Titolo: {{ movie.title }} </h3> </li>
                        <li class="original-title">Titolo Originale: {{ movie.original_title }}
                        </li>
                        <li v-if="movie.original_language === 'en'" class="original-language" > 
                            Lingua originale <img :src="`./img/${movie.original_language}.png`" alt="">   
                        </li>
                        <li v-else-if="movie.original_language === 'it'" class="original-language" > 
                            Lingua originale <img :src="`./img/${movie.original_language}.png`" alt="">   
                        </li>
                        <li class="original-language" v-else> 
                            Lingua originale: {{ movie.original_language }}  
                        </li>
                        <li class="vote-average">
                              <i v-for=" vote in getValutation(movie.vote_average) " class="fas fa-star"></i>  
                              <i v-for=" vote in ( 5 - getValutation(movie.vote_average) ) " class="far fa-star"></i>  
                        </li>
                    </ul>
                    <!-- TV SERIES -->
                    <ul class="item tvs"
                        v-for="tv in tvList"
                        >
                        <p>serie tv</p>
                        <li class="title"> <h3>Titolo: {{ tv.name }} </h3> </li>
                        <li class="original-title">Titolo Originale:  {{ tv.name }}  </li>
                        <li v-if="tv.original_language === 'en'" class="original-language" > 
                            Lingua originale <img :src="`./img/${tv.original_language}.png`" alt="">   
                        </li>
                        <li v-else-if="tv.original_language === 'it'" class="original-language" > 
                            Lingua originale <img :src="`./img/${tv.original_language}.png`" alt="">   
                        </li>
                        <li class="original-language" v-else> 
                            Lingua originale: {{ tv.original_language }}  
                        </li>
                        <li class="vote-average">
                              <i v-for=" vote in getValutation(tv.vote_average) " class="fas fa-star"></i>
                              <i v-for=" vote in ( 5 - getValutation(tv.vote_average) ) " class="far fa-star"></i>  
                        </li>
                    </ul>
                </div>
            </div>
        </main>
    </div>

    <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- MAIN SCRIPT -->
    <script src="./js/main.js"></script>
</body>
</html>